{
  "env": {
    "browser": true,
    "es6": true
    // "jest/globals": true
  },
  "extends": ["airbnb", "prettier", "airbnb/hooks"],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": ["error"],
    "no-unused-vars": "warn",
    "no-console": "off",
    "func-names": "off",
    "no-process-exit": "off",
    "object-shorthand": "off",
    "class-methods-use-this": "off",
    "react/jsx-filename-extension": 0,
    "no-param-reassign": "off",
    "react-hooks/exhaustive-deps": "off",
    "camelcase": "off",
    "import/prefer-default-export": "off",
    "react/prop-types": "off",
    "react/jsx-one-expression-per-line": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  // Configuration for TSX Files
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "extends": ["plugin:@typescript-eslint/eslint-recommended", "plugin:@typescript-eslint/recommended", "prettier"],
      "parser": "@typescript-eslint/parser",
      "rules": {
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": ["error"],
        "prettier/prettier": ["error"],
        "no-unused-vars": "warn",
        "no-console": "off",
        "func-names": "off",
        "no-process-exit": "off",
        "object-shorthand": "off",
        "class-methods-use-this": "off",
        "react/jsx-filename-extension": 0,
        "no-param-reassign": "off",
        "react-hooks/exhaustive-deps": "off",
        "camelcase": "off",
        "import/prefer-default-export": "off",
        "react/prop-types": "off",
        "react/jsx-one-expression-per-line": "off",
        "import/extensions": [
          "error",
          "ignorePackages",
          {
            "js": "never",
            "jsx": "never",
            "ts": "never",
            "tsx": "never"
          }
       ]
      }
    },
  ],
}
